#profile-img {
	border-radius: 50%;
	width: 20em;
    height: 20em;
}

.marginDist {
	margin-top: 1em;
}

.align-left{
	text-align: left;
}
.shadowBox {
	text-align: center;
}
.headingstyle {
	font-size: 30px;
    text-shadow: 1px 1px 2px grey;
}
.subHeadingStyle {
	font-size: 20px;
}