<div style="width: 100%; font-family: Roboto-Light; text-align: center">

    <div class="section section-header-spacer"></div>
    <br>
    <br>
    <br>
    <div style="font-size: 40px;">About Us</div>
    <br>

    <div style="width: 800px; color: #666;font-family: Roboto-Thin; font-size: 22px; line-height: 30px; margin: 0 auto;">
        We're a group of people who want to create a platform for people to share physical household items with their
        neighbours, friends, aquaintences, and other people around them without having to know them!
        <br>
        <br>
        <br>

        <span style="font-family: Roboto-Regular">
        Karthic Lakshmi Rajakumar &nbsp;&nbsp;|&nbsp;&nbsp; Srajan R. S. &nbsp;&nbsp;|&nbsp;&nbsp; Divya Soopal &nbsp;&nbsp;|&nbsp;&nbsp;
        Mayank Bansal
        </span>


    </div>

</div>

<div style="width: 100%; height: 100%; background: url('images/intro2.png') no-repeat; background-size: 100% 95%; background-position: 0px 50px;">
</div>

<div style="width: 100%;  font-family: Roboto-Light; background: #222; height: 60px; color: #777; box-sizing: border-box; text-align: center; padding-top: 20px; font-size: 15px;">
    &copy; 2017 Altruist. All Rights Reserved.
</div>
