	<link rel="stylesheet" href="css/accountcss.css">
	
	<div class="" ng-app="accountApp" ng-controller="accountController">
		<!--To make profile for users-->
			<!-- To have the profile picture here -->
			<div class="marginDist">
				<div class="row">
					<div class="col s6 m6 l4">
						<img src="../img/sampProfile.png" alt="Profile picture" id="profile-img">	
					</div>
					<div class="col s6 m6 l4">
						<!-- Personal Details -->
						<div>
							<p class="headingstyle shadowBox" style="text-align:left;">User Details</p>
							<ul>
								<li class="subHeadingStyle" >{{user.name}}</li>
								<li class="subHeadingStyle">Contact Info</li>
								<li class="subHeadingStyle">Rating</li>
							</ul>

						</div>
					</div>
				</div>

				<div>
					<!-- To add tabs for To Sell, Donate and Borrowed -->
					<div class="row">
						<div class="col s12">
					      <ul class="tabs">
					        <li class="tab col s3"><a href="#test1">Test 1</a></li>
					        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
					        <li class="tab col s3"><a href="#test4">Test 4</a></li>
					      </ul>
					    </div>
					    <div id="test1" class="col s12">Test 1</div>
					    <div id="test2" class="col s12">Test 2</div>
					    <div id="test4" class="col s12">Test 4</div>
					</div>
				</div>
				<button ng-click="getLogin()">click me</button>
			</div>
		</div>


		<!--<script type="text/javascript" src="../js/accountApp.js"></script>-->
		
		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</div>