<html>
	<head>
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> 
	</head>
	<body>
		<!--To make profile for users-->
		<div class="" id="">
			<!-- To have the profile picture here -->
			<div>
				<img src="img/sampProfile.png">
			</div>
		</div>

		<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	</body>
</html>