<div class="section section-header-spacer"></div>


<style>


    .trendingContainer {
        width: 100%;
        height: 420px;
        background: #DDD;
    }

    .trendingTitle {
        width: 100%;
        box-sizing: border-box;
        padding: 70px 0 20px 0;
        font-size: 35px;
        font-family: Roboto-Light;
        text-align: center;
    }

    .itemContainer {
        width: 100%;
        text-align: center;
    }

    .item {
        display: inline-block;
        box-sizing: border-box;
        margin: 0px 5px 10px 5px;
        width: 200px;
        height: 235px;
        padding-top: 15px;
        border-radius: 10px;
        vertical-align: top;
        text-align: center;
        transition: all ease 0.3s;
        cursor: pointer;
    }

    .item:hover {
        background: rgba(0,0,0,0.03);
    }

    .item-image {
        display: inline-block;
        width: 140px;
        height: 140px;
        background: #DDD;
        border: 3px solid #FFF;
    }

    .item-img {
        height: 100%;
        opacity: 1;
    }

    .item-name {
        margin-top: 10px;
        font-size: 18px;
        font-family: Roboto-Light;
    }

    .item-author {
        margin-top: 5px;
        font-size: 12px;
        font-family: Roboto-Light;
        text-transform: uppercase;
    }

    .item-category {
        display: inline-block;
        position: relative;
        z-index: 200;
        background: #333;
        text-transform: uppercase;
        font-family: Roboto-Light;
        font-size: 12px;
        color: white;
        padding: 7px;
        box-sizing: border-box;
        width: 100%;
        margin-top: -28px;
    }

    .searchContainer {
        width: 100%;
        height: 60px;
        text-align: center;
        position: relative;
        z-index: 800;
    }

    .searchBar {

        display: inline-block;
        width: 700px;
        height: 60px;
        border: 0;
        outline: 0;
        padding: 22px 20px 18px 20px;
        box-sizing: border-box;
        font-size: 20px;
        font-family: Roboto-Light;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        margin-top: -30px;
        transition: all ease .3s;
    }

    .searchBtn {
        float: left;
        position: absolute;
        z-index: 999;
        display: inline-block;
        height: 50px;
        width: 70px;
        margin-left: -75px;
        margin-top: -25px;
        box-sizing: border-box;
        padding: 15px;
        font-size: 20px;
        border-radius: 10px;
        color: #AAA;
    }

    .autoComplete {
        width: 700px;
        background: white;
        left: 0;
        padding-top: 40px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        z-index: -1;
        display: inline-block;
        border-radius: 10px;
        transition: all ease .3s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .autoComplete-record {
        width: 100%;
        height: 40px;
        transition: all ease .3s;
        border-bottom: 1px solid #EEE;
        text-align: left;
        box-sizing: border-box;
        padding: 12px 20px 12px 20px;
        font-size: 16px;
        font-family: Roboto-Light;
    }

    .autoComplete-record:hover {
        background: rgba(0, 0, 0, 0.01);
    }

    .suggestionContainer {
        width: 100%;
        height: 330px;
    }

    .suggestionTitle {
        box-sizing: border-box;
        padding: 45px 150px 15px 230px;
        font-size: 30px;
        font-family: Roboto-Light;
    }



    .purple {
        background: rebeccapurple;
        color: white;
    }

    .blue {
        background: steelblue;
        color: white;
    }

    .green {
        background: darkolivegreen;
        color: white;
    }

    .brown {
        background: saddlebrown;
        color: white;
    }

    .red {
        background: darkred;
        color: white;
    }


</style>

<div class="trendingContainer">
    <div class="trendingTitle">Items that are <span style="font-family: Roboto-Regular;">#trending</span> at Illinois Tech</div>

    <div class="itemContainer">
        <div ng-repeat="item in trending_items" class="item animated fadeInRight" style="animation-delay: {{0.1*$index}}s"  ng-click="itemClick(item._id)">

            <div class="item-image">
                <img src="{{ item.image_url }}" class="item-img">
                <div class="item-category">{{item.category}}</div>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-author">{{item.attributes[0].Author}}</div>

        </div>
    </div>
</div>

<div class="searchContainer animated fadeIn">
    <input type="text" class="searchBar" ng-keyup="autoSearch();" ng-init="count=0"
           placeholder="Search for Products, Authors and More" name="searchVal" ng-model="searchVal">
    <div class="searchBtn clickable" ng-click="search()">
        <i class="fa fa-search"></i>
    </div>

    <div class="autoComplete" ng-show="autoComplete">
        <div class="autoComplete-record clickable" ng-repeat="result in autoComplete" ng-if="$index < 5" ng-click="itemClick(result._id)">
            {{result.name}}
        </div>
    </div>
</div>


<div class="suggestionContainer">
    <div class="suggestionTitle">Books & Reading
        &nbsp;<span style="font-size: 16px; color: steelblue">View More <i class="fa fa-angle-right"></i></span>
    </div>

    <div class="itemContainer">
        <div ng-repeat="item in suggestions.books" ng-if="$index < 5"  class="item animated fadeInRight" style="animation-delay: {{0.1*$index}}s"   ng-click="itemClick(item._id)">
            <div class="item-image">
                <img src="{{ item.image_url }}" class="item-img">
                <div class="item-category purple">{{item.category}}</div>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-author">{{item.attributes[0].Author}}</div>
        </div>
    </div>
</div>

<div class="suggestionContainer">
    <div class="suggestionTitle">Video Games
        &nbsp;<span style="font-size: 16px; color: steelblue">View More <i class="fa fa-angle-right"></i></span>
    </div>

    <div class="itemContainer">
        <div ng-repeat="item in suggestions.games" ng-if="$index < 5"  class="item animated fadeInRight" style="animation-delay: {{0.1*$index}}s"   ng-click="itemClick(item._id)">
            <div class="item-image">
                <img src="{{ item.image_url }}" class="item-img">
                <div class="item-category blue">{{item.category}}</div>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-author">{{item.attributes[0].Publisher + " . "}}
                <span style="font-family: Roboto-Regular;">{{ item.attributes[0].genre}}</span>
            </div>
        </div>
    </div>
</div>

<div class="suggestionContainer">
    <div class="suggestionTitle">Household
        &nbsp;<span style="font-size: 16px; color: steelblue">View More <i class="fa fa-angle-right"></i></span>
    </div>

    <div class="itemContainer">
        <div ng-repeat="item in suggestions.household" ng-if="$index < 5"  class="item animated fadeInRight" style="animation-delay: {{0.1*$index}}s"   ng-click="itemClick(item._id)">
            <div class="item-image">
                <img src="{{ item.image_url }}" class="item-img">
                <div class="item-category green">{{item.category}}</div>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-author">{{item.attributes[0].manufacture}}</div>
        </div>
    </div>
</div>

<div class="suggestionContainer">
    <div class="suggestionTitle">Toys
        &nbsp;<span style="font-size: 16px; color: steelblue">View More <i class="fa fa-angle-right"></i></span>
    </div>

    <div class="itemContainer">
        <div ng-repeat="item in suggestions.toys" ng-if="$index < 5"  class="item animated fadeInRight" style="animation-delay: {{0.1*$index}}s"   ng-click="itemClick(item._id)">
            <div class="item-image">
                <img src="{{ item.image_url }}" class="item-img">
                <div class="item-category brown">{{item.category}}</div>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-author">{{item.attributes[0].Author}}</div>
        </div>
    </div>
</div>

<div class="suggestionContainer">
    <div class="suggestionTitle">Clothes
        &nbsp;<span style="font-size: 16px; color: steelblue">View More <i class="fa fa-angle-right"></i></span>
    </div>

    <div class="itemContainer">
        <div ng-repeat="item in suggestions.clothes" ng-if="$index < 5"  class="item animated fadeInRight" style="animation-delay: {{0.1*$index}}s"   ng-click="itemClick(item._id)">
            <div class="item-image">
                <img src="{{ item.image_url }}" class="item-img">
                <div class="item-category red">{{item.category}}</div>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-author">{{item.attributes[0].size + " . " + item.attributes[0].color }}</div>
        </div>
    </div>
</div>