<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<div class="container col-lg-8 col-lg-offset-2" ng-init="getTrending()">
    
    <div style="margin-top:300px" class="row">
        <form ng-submit="search()">
            <input  type="text" class="form-control  center-block" placeholder="Search for any item" aria-describedby="basic-addon1" style="width:90%" name="searchVal" ng-model="searchVal"><br>
            <input type="submit" value="Search" class="btn-lg btn-primary center-block">
        </form>
        
    </div>
    <div class="row">
        <div  ng-repeat="n in trending_items">
           
        {{n.name}}
        </div>
    </div>
</div>